body {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin: 0;
 }
  
.flex-container {
    display: flex;
    justify-content: center;
}

.column-picture, .column-form, fieldset {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.column-picture {
    background-image: url("../images/side-picture.jpg");
    color: #fff;
}

.column-form {
    background-color: #fff;
    flex-flow: row wrap;
}

label {
    margin-right: 1em; 
    padding: .5em 0;
}

body input {
    flex: 6; 
    padding: .5em;
    margin-bottom: 1em;
  }

button {
    font-size: 20px;
    font-weight: 900;
    border-radius: 8px;
    width: 110px;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 10px;
    border-color: #F9FAF8;
}
